.accountLayout {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user {
	font-size: 20px;
	margin: 8px;
}

.accountButton {
	margin: 8px;
	height: 30px;
	width: 30px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	cursor: pointer;
	border-radius: 50%;
	color: #757575;
	font-size:13px;
	line-height:34px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sanserif;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
/*.accountButton {
	padding: 10px;
	position: relative;
    border-radius: 50%;
    background: #CDCDCD;
    height: 30px;
    width: 30px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}*/

.accountButton1 {    
	background: #CDCDCD;
    border: none;
    border-radius: 50%;
    color: #000000;
    position: relative;
    height: 30px;
	width: 30px;
    margin: 0;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
}