.periodic {
  position: relative;
  height: 1000px;
  margin: 16px 12px 16px 16px;
  text-shadow: none;
  height: 90vh;
  width: 160vh;
}

.periodic-row {
  clear: both;
  height: 10%;
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  text-align: center;
  cursor: default;
  pointer-events: none;
  .transition(all 200ms ease);
  
  background-color: rgba(0, 96, 160, 0.6);
}

.cell:hover .element {
  border-color: rgba(0,0,0,0.1);
  .transform(scale(3,3));
  z-index: 1;
  
  background-color: rgba(0, 96, 160, 0.9);
}

.at_num,
.at_details {
  position: absolute;
  font-size: 12px;
  color: rgba(255,255,255,0.5);
}

.at_num {
  top: 4px;
  right: 5px;
}

.symbol {
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  font-size: 25px;
  color: rgba(255,255,255,0.9);
}

.at_details {
  bottom: 4px;
  left: 0px;
  right: 0px;
}

.cell:nth-child(-n+2) .element {
  background-color: rgba(193, 123, 17, 0.6);
}

.cell:nth-child(n+13) .element {
  background-color: rgba(56, 156, 69, 0.6);
}

.periodic-row:nth-child(2) .cell:nth-child(13) .element,
.periodic-row:nth-child(3) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(4) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(5) .cell:nth-child(n+15) .element,
.periodic-row:nth-child(6) .cell:nth-child(n+16) .element {
  background-color: rgba(5, 142, 22, 0.6);
}

.periodic-row:nth-child(n+2) .cell:nth-child(1) .element {
    background-color: rgba(170, 18, 49, 0.6);
}

.periodic-row:nth-child(1) .cell:nth-child(1) .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16) .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17) .element {
  background-color: rgba(0, 192, 64, 0.6);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(18) .element {
  background-color: rgba(90, 30, 168, 0.6);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(17) .element {
  background-color: rgba(163, 165, 24, 0.6);
}

.periodic-row:nth-child(n+9) .element {
  background-color: rgba(0, 96, 160, 0.6);
}

.periodic-row:nth-child(9) .element {
  background-color: rgba(152, 73, 175, 0.6);    
}

.periodic-row:nth-child(10) .element {
  background-color: rgba(86, 40, 99, 0.6);    
}

.elementLink {
    background-color: rgba(0, 0, 0, 0.6)
}

.elementLink .symbol {
    font-size: 15px;
    top: 30%;
}

/* hover */
.cell:nth-child(-n+2):hover .element {
  background-color: rgba(193, 123, 17, 0.9);
}

.cell:nth-child(n+13):hover .element {
  background-color: rgba(56, 156, 69, 0.9);
}

.periodic-row:nth-child(2) .cell:nth-child(13):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(n+15):hover .element,
.periodic-row:nth-child(6) .cell:nth-child(n+16):hover .element {
  background-color: rgba(5, 142, 22, 0.9);
}

.periodic-row:nth-child(n+2)  .cell:nth-child(1):hover .element {
    background-color: rgba(170, 18, 49, 0.9);
}

.periodic-row:nth-child(1) .cell:nth-child(1):hover .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17):hover .element {
  background-color: rgba(0, 192, 64, 0.9);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(18):hover .element {
  background-color: rgba(90, 30, 168, 0.9);
}

.periodic-row:nth-child(-n+7) .cell:nth-child(17):hover .element {
  background-color: rgba(163, 165, 24, 0.9);
}

.periodic-row:nth-child(n+9) .cell:hover .element {
  background-color: rgba(0, 96, 160, 0.9);
}

.cell:hover .elementLink {
    background-color: rgba(0, 0, 0, 0.7)
}

.periodic-row:nth-child(9) .cell:hover .element {
  background-color: rgba(152, 73, 175, 0.9);    
}

.periodic-row:nth-child(10) .cell:hover .element {
  background-color: rgba(86, 40, 99, 0.9);    
}

/* scaling */
@media (min-width: 600px) {
  .periodic {
    height: 460px;
  }
  
  .element {
    right: 2px;
    bottom: 2px;
  }
  
  .at_num,
  .at_details {
    font-size: 0px;
  }

  
}

@media (min-width: 800px) {
  .periodic {
    height: 540px;
  }

  .symbol {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .periodic {
    height: 680px;
  }
  
  .at_num,
  .at_details {
    font-size: 9px;
  }

  .symbol {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .periodic {
    height: 800px;
  }
  
  .at_num,
  .at_details {
    font-size: 12px;
  }

  .symbol {
    font-size: 30px;
  }
}

@media (min-width: 2000px) {
  .periodic {
    height: 1100px;
  }
  
  .at_num,
  .at_details {
    font-size: 12px;
  }

  .symbol {
    font-size: 30px;
  }
}